<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
 	<appender name="STDOUT-INFO" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
          <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter> 
        <encoder>
   			<pattern>%msg%n</pattern>
   		</encoder>
    </appender>


 	<appender name="STDOUT-WARN" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
        	<pattern>WARNING: %msg%n</pattern>
        </encoder>
   		
    </appender>
     -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
            <Target>System.err</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder> 
            <pattern>%level: %msg%n</pattern> 
        </encoder> 
    </appender>
    
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    	<file>divercli.log</file>
    	<append>true</append>
    	<!-- encoders are assigned the type
         	ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    	<encoder>
      	<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    	</encoder>
  	</appender>
    
    <!--  SchemaExport is way too chatty -->
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off"/>
	
    <!--  so we don't see this: 
    	2016-06-28 14:27:17 [main] WARN  org.hibernate.type.TypeFactory - HHH000233: Scoping types to session factory org.hibernate.internal.SessionFactoryImpl@17d53b9 after already scoped org.hibernate.internal.SessionFactoryImpl@103c181
     -->
    <logger name="org.hibernate.type.TypeFactory" level="error"/>

	<logger name="eu.kidf.diversicon.cli.DiverCli.details" additivity="false">
        <appender-ref ref="FILE"/>
    </logger> 	 		

	<root level="INFO">
        <appender-ref ref="STDOUT-INFO"/>
        <appender-ref ref="STDOUT-WARN"/> 
        <appender-ref ref="STDERR" />
        <appender-ref ref="FILE" />	
    </root>
    
</configuration>